* {
    padding: 0;
    margin: 0;
}

.page {
    display: grid;
}

/* Header */

.header {
    width: 100%;
    position: absolute;
    height: 70px;
    background-color: #070720;
    display: flex;
    justify-content: space-between;
}

.header_logo {
    color: white;
    display: flex;
    font-size: 30px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
    font-weight: 600;
}

.header_logo a {
    color: white;
    text-decoration: none;
}

.header_logo a:last-child {
    color: #e53637;
}

.header_menu {
    display: flex;
    list-style: none;
}

.header_menu li {
    padding: 20px;
    font-size: 18px;
    color:  rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_menu li:hover {
    background-color:#e53637 ;
    color: white;
}

.menu_items_catagories i {
    font-size: 12px;
    margin-left: 8px;
}

.header_info {
    font-size: 18px;
    color:  rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.header_info_search {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
}

.header_info div:hover {
    background-color:#e53637;
    color: white;
}

.header_info_user {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
}

                    /* Content */

.content {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0b0b2b;
}
                    /* Secondary Content */
.secondary_content {
    width: 1200px;
    margin: 60px 0;
    height: 650px;
    position: relative;
    overflow: hidden;
}

.secondary_content_items {
    position: absolute;
    height: 100%;
    width: 100%;
}

.secondary_content_button {
    position: absolute;
    display: flex;
    z-index: 1;
    bottom: 46px;
    left: 46px;
}

.secondary_content_button button {
    height: 42px;
    width: 144px;
    background-color: #e53637;
    color: rgba(255, 255, 255, 0.7) ;
    border-radius: 6px;
    border-style: none;
    font-weight: 400;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.secondary_content_button button:hover {
    color: white;
}

.secondary_content_button_icon {
    background-color:#e53637 ;
    color: rgba(255, 255, 255, 0.7) ;
    height: 42px;
    width: 26px;
    border-radius: 6px;
    margin-left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary_content_button_icon:hover {
    color: white;

}

.secondary_content_item {
    position: absolute;
    list-style: none;
}

.last_content_item {
}

.next_content_item {
}

.content_item_button {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: #2c2b44;
    position: absolute;
    top: -50px;
  }
.content_item_button:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 50px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top-color: #2c2b44;
}

.secondary_content_item {
    width: 1200px;
    position: absolute;
}

.secondary_content_item_about {
    left: 48px;
    bottom: 30%;
    position: absolute;
    max-width: 400px;
    
}

.secondary_content_item_about p:first-child {
    font-size: 34px;
    color: white;
    font-weight: 600;
    text-shadow: 2px 2px 5px black;
}

.secondary_content_item_about p:last-child {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7) ;
    margin-top: 10px;
    text-shadow: 2px 2px 5px black;
}

.secondary_content_item img {
    width: 100%;
    object-fit: cover;
}

                    /* Main Content */

.main_content {
    display: flex;
    width: 1200px;
    column-gap: 30px;
}
                    /* content left */
.content_left {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    width: calc(1200px/3*2);
}


.movies_title {
    border-left: #e53637 solid 3px;
    display: flex;
    justify-content: space-between;
    padding: 2px 0px 2px 20px;
}

.movies_title p {
    color: white;
    font-size: 22px;
    font-weight: 400;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

.movides_viewall {
    display: flex;
    align-items: center;
    
}

.movides_viewall a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 200;
    padding-right: 10px ;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

.movides_viewall i {
    color: white;
    text-decoration: none;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7) ;
}

.trending_movies_catagories {
    display: flex;
    row-gap: 40px;
    flex-wrap: wrap;
    margin-top: 20px;
    list-style-type: none;
    justify-content: space-between;

}

.movies_items {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.movies_item_poster {
    position: relative;
    display: flex;
    height: 360px;
}

.movies_item_poster img {
    object-fit: contain;
    width: 100%;
    border-radius: 10px;
}

.movies_item_chapter {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgba(255, 255, 255, 0.7);
    background-color: #e53637;
    font-size: 16px;
    width: 74px;
    height: 22px;
    border-radius: 3px;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

.movies_item_comment {
    background-color: #3c3c3c;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 3px 10px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

.movies_item_comment i{
    padding-right: 4px;
}

.movies_item_views {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3c3c3c;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 3px 10px;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 14px;
    position: absolute;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    right: 10px;
    bottom: 10px;
}
.movies_item_views i{
    padding-right: 4px;
}

.movies_items_about_type {
    padding: 12px 0px 12px;
    display: flex;
    align-items: center;
}

.movies_items_about_type a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background-color: #47475c;
    margin-right: 10px;
    padding: 2px 14px;
    border-radius: 10px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 12px;
}

.movies_items_about_name {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
                    /* Content right */
.content_right {
    display: flex;
    flex-direction: column;
    width: 380px;
}
                    /* Top Views */
.content_right_topviews {
    display: flex;
    flex-direction: column;
}

.topviews_header {
    width: 100%;
    border-left:#e53637 solid 3px;
    padding: 4px 0px ;
    display: flex;
    justify-content: space-between;
}
.topviews_header_title {
    display: flex;
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

.topviews_header_title {
    padding-left: 20px;
}

.topviews_header_time {
    display: flex;
    font-size: 16px;
    gap: 10px;
    color: rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
}

.topviews_header_time p:hover {
    color: rgba(255, 255, 255, 1.0)
}

.topviews_items {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    list-style: none;
    row-gap: 24px;
}

.topviews_item {
    position: relative;
    display: flex;
}

.topviews_item img {
    width: 100%;
    border-radius: 6px;
    height: 180px;
    object-fit: cover;
}


.topviews_item_chapter {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    width: 60px;
    height: 22px;
    top: 10px;
    left: 10px;
    background-color: #e53637;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.topviews_item_views {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    width: 74px;
    height: 24px;
    top: 10px;
    right: 10px;
    background-color: #3c3c3c;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

.topviews_item_views i{
    padding-right: 4px;
}

.topviews_item_name {
    position: absolute;
    font-size: 20px;
    color: white;
    font-weight: 400;
    left: 10px;
    text-shadow: 0px 0px 5px black;
    bottom: 20px;

}
                    /* New Comment */

.content_right_.newcomment {
    width: 100%;
}
.newcomment_header {
    border-left: #e53637 solid 3px;
    font-size: 18px;
    color: white;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-weight: 400;
    padding: 4px 18px;
    margin-top: 60px;
}
.newcomment_items {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-top: 20px;
}
.newcomment_item {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.newcomment_item img {
    height: 150px;
    width: 100px;
    object-fit: cover;
}

.newcomment_item_about {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: center;
}


.newcomment_item_about_type a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    background-color: #47475c;
    padding: 2px 10px;
    border-radius: 10px;
}

.newcomment_item_about_name {
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin: 14px 0;
    line-height: 24px;
    font-weight: 500;

}
.newcomment_item_about_views {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
